.cards {
	display: flex;
    flex-wrap: wrap;
}


.card {
	padding: 30px;
	display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 10px;
    flex-basis: 250px;
    flex-grow: 1;
}


.img-sheet {
	width: 231px !important;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.card img {
	width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}


h4, h5 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 24px;
}


.info-card {
    padding: 30px;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 40px 0;
}

.info-card h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

.info-card p {
    margin-bottom: 0;
    line-height: 1.6;
}


.training-card {
    background-color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-bottom: 40px;
}

.training-card p {
    margin: 0;
    padding-right: 40px;
    line-height: 1.6;
}

.training-card .btn-blue {
    flex-shrink: 0;
}

 